@font-face {
    font-family: "Gotham";
    src: url(fonts/GothamLight.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

body {
    background: #2C0F29;
    font-family: "Gotham";
}

h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #FFFFFF;
}

p {
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}

span.p_color {
    font-weight: 500;
}

.container {
    width: 1170px;
}

.form-control:focus {
    box-shadow: none;
}

span.badge {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 24px;
    gap: 10px;
    width: 158px;
    height: 36px;
    background: #331433;
    border-radius: 126px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #C6AAC6;
}

div#navbarNav a.nav-link {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

div#navbarNav a.nav-link:hover {
    color: #e01a59;
    background-color: transparent;
}

nav.navbar {
    padding: 0 12px;
}

nav.navbar ul.dropdown-menu {
    background: #141414;
    border-bottom: 0 solid #1f1f1f;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .33);
}

nav.navbar .dropdown-item {
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

nav.navbar .dropdown-item:focus,
nav.navbar .dropdown-item:hover {
    color: #e01a59;
    background-color: transparent;
}

/* Banner Section  */
.pdf_banner {
    color: #fff;
}

img.banner-top-image {
    width: 650px;
    top: 7px;
    right: 0;
    position: absolute;
}

.banner_text {
    padding: 120px 0 30px;
}

.banner_text h5 {
    font-size: 17px;
    font-weight: 700;
}

.banner_text span.coming-p {
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #8F618F;
}

/* SignUp form section styling */
.sign_up_form {
    background: linear-gradient(90deg, #8E608E 28.16%, #402640 67.82%, #371A34 83.75%);
}

.sign_up_form form {
    align-items: center;
    padding: 0px 0px 0px 10px;
    width: 530px;
    height: 64px;
    background: #FFFFFF;
    border: 3px solid #C6AAC6;
    border-radius: 81px;
    margin: 25px 0;
}

.sign_up_form form input.form-control {
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #431F43;
}

.sign_up_form button.btn.btn-primary {
    background: #e01a59;
    padding: 2px 20px 0;
    border: 0 !important;
    transition: all .2s;
    border-radius: 40px;
    text-decoration: none;
    height: 54px;
    vertical-align: middle;
    float: right;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.sign_up_form button:hover {
    background: #c9041e !important;
    border-color: #c9041e !important;
    color: #fff;
}

i.fa.fa-caret-right:before {
    content: "\f0da";
}

i.fa.fa-caret-right {
    position: relative;
    left: 7px;
    top: 1px;
}

.sign_up_form h5 {
    font-size: 18px;
    font-weight: 700;
}

.sign_up_form span.badge {
    padding: 2px 18px;
    width: 146px;
    height: 32px;
    background: #C6AAC6;
    font-weight: 700;
    font-size: 13px;
    color: #8F618F;
    margin-right: 10px;
    float: left;
}

/* coming soon section styling */
.coming_wrap {
    background: #2C0F29;
    color: #fff;
}

.coming_wrap-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.coming_wrap h1 {
    margin-bottom: 30px;
    position: relative;
}

.coming_wrap .badge-tag {
    top: -49px;
    right: 25%;
    left: auto;
    width: 185px;
    position: absolute;
}

.coming_wrap-list li {
    color: #402640;
    display: inline-block;
    margin: 0 2% 20px 0;
}

/* C++ PDF section styling */
.para_wrap {
    background: #170617;
    color: #fff;
}

.para_wrap span.p_color {
    font-weight: 500;
}

/* Why make a C++ PDF Library section styling */
.why_make_wrap {
    background: #402640;
    color: #fff;
    padding: 80px 0;
}

.why_make_wrap h1 {
    margin-bottom: 30px;
}

.why_make_wrap img.card-img-top {
    background-image: url('../img/Union.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

/* Early Access section styling */
.access_wrap {
    background-image: url('../img/access_bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 60px 0;
}

.access_wrap .card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 10px;
    height: 80px;
    background: rgba(23, 6, 23, 0.8);
    border: 3px solid #331433;
    border-radius: 122px;
}

.access_wrap .card .card-body .row {
    display: flex;
    align-items: center;
}

.access_wrap .card .badge {
    padding: 4px 24px;
    width: 125px;
    height: 34px;
    background: #C6AAC6;
    border-radius: 126px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 26px;
    color: #331433;
}

.access_wrap .card .badge.coming-soon {
    width: 150px;
    height: 34px;
    background: #331433;
    color: #C6AAC6;
}

.access_wrap .card img.card-img-top {
    width: 112px;
    height: auto;
}

/* Footer styling */
footer {
    background: #170617;
    color: #fff;
}

footer h2 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

span.header_color {
    color: #C6AAC6;
}

.footer form {
    margin: 30px auto 0;
    box-sizing: border-box;
    padding: 3px 3px 3px 26px;
    width: 600px;
    height: 56px;
    background: #FFFFFF;
    border: 3px solid #E7EEF0;
    border-radius: 81px;
}
.footer form {
    align-items: center;
    padding: 0px 0px 0px 10px;
    width: 530px;
    height: 64px;
    background: #FFFFFF;
    border: 3px solid #C6AAC6;
    border-radius: 81px;
    margin: 25px auto;
}

/* .footer form input.form-control {
    border: 0;
    padding: 12px 0;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #181818;
}

.footer button.btn.btn-primary {
    border: 0 !important;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    padding: 0px 20px;
    width: 180px;
    height: 50px;
    background: #E01A59;
    border-radius: 27px;
    margin-top: -3px;
}

.footer button:hover {
    background: #c9041e !important;
    border-color: #c9041e !important;
    color: #fff;
} */



.footer form input.form-control {
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #431F43;
}

.footer button.btn.btn-primary {
    background: #e01a59;
    padding: 2px 20px 0;
    border: 0 !important;
    transition: all .2s;
    border-radius: 40px;
    text-decoration: none;
    height: 54px;
    vertical-align: middle;
    float: right;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.footer button:hover {
    background: #c9041e !important;
    border-color: #c9041e !important;
    color: #fff;
}
